version: "3.9"

services:
  web:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    volumes:
      - ../app:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    environment:
      - CHOKIDAR_USEPOLLING=true
